<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Output</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <style>
        body{
            font-size: 12px !important;
            width: 900vw;
            padding:20px;
        }
        td, th {
            display: flexbox !important;
            border: 1px solid black !important;
        }

        li {
            display: flexbox !important;
            width: 40% !important;
        }

        p{
            padding: 0 !important;
            margin: 0 !important;
        }

        .bg-acl{
            background: rgb(0, 119, 255) !important ;
        }

        .bg-fist_cols{
            background-color: rgb(131, 224, 193) !important ;
        }

        .bg-second_cols{
            background-color: rgb(116, 165, 240) !important ;
        }

        .bg-extraOne{
            background-color: rgb(255, 228, 196) !important ;
        }

        .bg-extraTwo{
            background-color: rgb(218, 218, 126) !important ;
        }

        .reduction{
            width: 250px !important;
        }

        .border-invisible{
            border: 0px !important;
        }

        .box-width{
             width: 200px !important;
             padding: 0px !important;
        }

        .circle {
            height: 30px !important;
            width: 30px !important ;
        }


    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }
    [data-title]:after {
        content: attr(data-title);
        background-color: #333;
        color: #fff;
        font-size: 14px;
        font-family: Raleway;
        position: absolute;
        padding: 3px 20px;
        bottom: -1.6em;
        left: 100%;
        white-space: nowrap;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
        z-index: 99999;
        visibility: hidden;
        border-radius: 6px;
    }
    [data-title] {
        position: relative;
    }
        
    </style>

    <div class="container-fluid">
        <h1> {{title}} </h1>
        <h4> {{time}} </h4>
        <div class="row" >
            <div class="col-sm-1 mt-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active bg-fist_cols " aria-current="true">ZONA ORIGEN</li>
                    {% for item in list_zone_origin %}
                    <li class="list-group-item {{ 'text-danger' if not item.flag }} {{ 'text-success' if item.flag }}"> <p> {{ item.name }} </p> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-1 mt-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active bg-second_cols " aria-current="true">ZONA DESTINO</li>
                    {% for item in list_zone_destiny %}
                    <li class="list-group-item {{'text-danger' if not item.flag}} {{ 'text-success' if item.flag }}"> <p> {{ item.name }} </p> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-1 mt-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active bg-extraTwo " aria-current="true">INTERZONA</li>
                    {% for item in list_interzone_access %}
                    <li class="list-group-item">{{ item.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% for item in list_interzone_access %}
        <div class="row">

            <!--   Table one    -->
            <div class="col-sm-8 mt-5">
                <table class="table" >
                    <tr>
                        <th class="bg-extraTwo" > MX-MEX-M1-ISP-E8160E-1 </th>
                        <th class="bg-extraTwo" > MXTLAM01RTCOREDATA01 </th>
                        <th class="bg-extraTwo" > MXTLAM01RTCOREISP07 </th>
                        
                        <th class="border-invisible" ></th>

                        <th class="bg-acl" > ACL {{item.name}} </th>
                        <th class="bg-fist_cols" > ROUTING ORIGEN </th>
                        <th class="bg-fist_cols" > INTERFACE ORIGEN </th>
                        <th class="bg-fist_cols" > TIPO DE ROUTING </th>
                        <th class="bg-fist_cols" > NETWORK ELEMENT ROUTING </th>
                        <th class="bg-second_cols" > ROUTING DESTINO </th>
                        <th class="bg-second_cols" > INTERFACE DESTINO </th>
                        <th class="bg-second_cols" > TIPO DE ROUTING </th>
                        <th class="bg-second_cols" > NETWORK ELEMENT ROUTING </th>
                        <th class="bg-extraTwo" > HIT </th>
                        <th class="bg-extraOne" > NAT </th>
                        <th class="bg-extraOne" > NAT POOL </th>
                        <th class="bg-extraTwo" > ROUTING OK INTERZONA </th>
                        <th class="bg-extraTwo" >  MX-MEX-M1-ISP-E8160E-1 </th>
                        
                        <th class="border-invisible" ></th>

                        <th class="bg-acl" > acl {{item.name}} </th>
                        <th class="bg-extraOne" > VRF </th>
                        <th class="bg-fist_cols" > ROUTING ORIGEN </th>
                        <th class="bg-fist_cols" > INTERFACE ORIGEN </th>
                        <th class="bg-fist_cols" > TIPO DE ROUTING </th>
                        <th class="bg-fist_cols" > NETWORK ELEMENT ROUTING </th>
                        <th class="bg-second_cols"> ROUTING  DESTINO </th>
                        <th class="bg-second_cols"> INTERFACE DESTINO </th>
                        <th class="bg-second_cols"> TIPO DE ROUTING </th>
                        <th class="bg-second_cols"> NETWORK ELEMENT ROUTING </th>
                        <th class="bg-extraTwo" > ROUTING OK </th>
                        <th class="bg-extraTwo" > MXTLAM01RTCOREDATA01 </th>

                        <th class="border-invisible" ></th>

                        <th class="bg-acl" > acl {{item.name}} </th>
                        <th class="bg-fist_cols" > ROUTING ORIGEN </th>
                        <th class="bg-fist_cols" > INTERFACE ORIGEN </th>
                        <th class="bg-fist_cols" > TIPO DE ROUTING </th>
                        <th class="bg-fist_cols" > NETWORK ELEMENT ROUTING </th>
                        <th class="bg-second_cols"> ROUTING DESTINO </th>
                        <th class="bg-second_cols"> INTERFACE DESTINO </th>
                        <th class="bg-second_cols"> TIPO DE ROUTING </th>
                        <th class="bg-second_cols"> NETWORK ELEMENT ROUTING </th>
                        <th class="bg-extraTwo" > ROUTING OK </th>
                        <th class="bg-extraTwo" > MXTLAM01RTCOREISP07 </th>

                        <th class="border-invisible" ></th>
                        
                        <th class="bg-extraTwo" > OPERATIIVA A NIVEL ROUTING </th>
                    </tr>

                    {% for element in item.data %}
                        <tr>
                            <td>
                                <div data-title="{{element.table_one.device}}" class="rounded-circle border border-3 circle {{ 'bg-success' if element.table_one.ROUTING_OK_INTERZONA == 'SI' else 'bg-danger' }} "></div>
                            </td>
                            <td>
                                <div data-title="{{element.table_two.device}}" class="rounded-circle border border-3 circle {{ 'bg-success' if element.table_two.ROUTING_OK == 'SI' else 'bg-danger' }}  " ></div>
                            </td>
                            <td>
                                <div data-title="{{element.table_three.device}}" class="rounded-circle border border-3 circle {{ 'bg-success' if element.table_three.ROUTING_OK == 'SI' else 'bg-danger' }}  " ></div>
                            </td>

                            <td class="border-invisible"></td>
                            
                            <td>  {{element.table_one.ACL}} </td>
                            <td> {{element.table_one.origin.ROUTING_ORIGEN}} </td>
                            <td>
                                {% for interface in element.table_one.origin.INTERFACE_ORIGEN %}
                                {{interface}} <br>
                                {% endfor %}
                            </td>
                            <td> {{element.table_one.origin.TIPO_DE_ROUTING}} </td>
                            <td> {{element.table_one.origin.NETWORK_ELEMENT_ROUTING}} </td>

                            <td> {{element.table_one.destiny.ROUTING_DESTINO}} </td>
                            <td>
                                {% for interface in element.table_one.destiny.INTERFACE_DESTINO %}
                                    {{interface}} <br>
                                {% endfor %}
                            </td>
                            <td> {{element.table_one.destiny.TIPO_DE_ROUTING}} </td>
                            <td> {{element.table_one.destiny.NETWORK_ELEMENT_ROUTING}} </td>
                            <td> {{element.table_one.HIT}} </td>
                            <td> {{element.table_one.NAT}} </td>
                            <td> {{element.table_one.NAT_POOL}} </td>
                            <td> {{element.table_one.ROUTING_OK_INTERZONA}} </td>
                            <td class="" >
                                    <div data-title="{{element.table_one.device}}"  class="rounded-circle border border-3 circle {{ 'bg-success' if element.table_one.ROUTING_OK_INTERZONA == 'SI' else 'bg-danger' }} "></div>
                            </td>

                            <td class="border-invisible"></td>

                            <td>  {{element.table_two.ACL}} </td>
                            <td>  {{element.table_two.VRF}} </td>
                            <td>  {{element.table_two.origin.ROUTING_ORIGEN}} </td>
                            <td>
                                {% for interface in element.table_two.origin.INTERFACE_ORIGEN %}
                                    {{interface}} <br>
                                {% endfor %}
                            </td>
                            <td>  {{element.table_two.origin.TIPO_DE_ROUTING}} </td>
                            <td>  {{element.table_two.origin.NETWORK_ELEMENT_ROUTING}} </td>
                            <td>  {{element.table_two.destiny.ROUTING_DESTINO}} </td>
                            <td>
                                {% for interface in element.table_two.destiny.INTERFACE_DESTINO %}
                                    {{interface}} <br>
                                {% endfor %}
                            </td>
                            <td>  {{element.table_two.destiny.TIPO_DE_ROUTING}} </td>
                            <td>  {{element.table_two.destiny.NETWORK_ELEMENT_ROUTING}} </td>
                            <td>  {{element.table_two.ROUTING_OK}} </td>
                            <td class="" >
                                <div data-title="{{element.table_two.device}}"  class="rounded-circle border border-3 circle {{ 'bg-success' if element.table_two.ROUTING_OK == 'SI' else 'bg-danger' }} "></div>
                            </td>
                            
                            <td class="border-invisible"></td>

                            <td> {{element.table_three.ACL}} </td>
                            <td> {{element.table_three.origin.ROUTING_ORIGEN}} </td>
                            <td>
                                {% for interface in element.table_three.origin.INTERFACE_ORIGEN %}
                                    {{interface}} <br>
                                {% endfor %}
                            </td>
                            <td> {{element.table_three.origin.TIPO_DE_ROUTING}} </td>
                            <td> {{element.table_three.origin.NETWORK_ELEMENT_ROUTING}} </td>
                            <td> {{element.table_three.destiny.ROUTING_DESTINO}} </td>
                            <td>
                                {% for interface in element.table_three.destiny.INTERFACE_DESTINO %}
                                    {{interface}} <br>
                                {% endfor %}
                            </td>
                            <td> {{element.table_three.destiny.TIPO_DE_ROUTING}} </td>
                            <td> {{element.table_three.destiny.NETWORK_ELEMENT_ROUTING}} </td>
                            <td> {{element.table_three.ROUTING_OK}} </td>
                            <td class="" >
                                <div data-title="{{element.table_three.device}}"  class="rounded-circle border border-3 circle {{ 'bg-success' if element.table_three.ROUTING_OK == 'SI' else 'bg-danger' }} "></div>
                            </td>
                            
                            <td class="border-invisible"></td>
                            
                            <td> {{element.OPERATIIVA_A_NIVEL_ROUTING}} </td>
                                
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>